body {
  background-color: orange;
}

#myCanvas {
  position: center;
  background: #ddd;
  display: block;
  border: 4px solid #00f;
  margin: auto;
  width: 50%;

  #circle1 {
    width: 20px;
    height: 20px;
    background: red;

  }

  /*padding: 50px;
  margin: 100px;

}
