body {
  background-color: #4f8cef;
}

nav {
  background-color: #ff8080;
  display: block;
  font-size: 24px;
}

h1 {
  color: #461191;
  font-size: 48px;
  font-variant: small-caps;
  text-align: center;
  text-decoration: underline;
}

h3 {
  color: #461191;
  font-size: 28px;
  font-variant: small-caps;
  text-align: center;
}

ul {
  color: #461191;
  font-size: 18px;
  list-style: disc, outside, none;
  padding-left: 240px;
}


#start {
  border-radius: 25px;
  color: #461191;
  font-size: 28px;
  top: 100px;
  left: 25px;
}

#reset {
  border-radius: 25px;
  color: #461191;
  font-size: 26px;
}

#myCanvas {
  background-color: yellow;
  border: 10px solid #00f;
  border-radius: 20px;
  display: block;
  margin: auto;
  width: 72%;
  height: auto;
}
