body {
  background-color: #00aaaa;
}

h1 {
  color: #461191;
  font-size: 36px;
  font-variant: small-caps;
  text-align: center;
  text-decoration: underline;
}

#start {
  border-radius: 25px;
  color: #461191;
  display:inline-block;
  font-size: 24px;
}

#myCanvas {
  background-color: #cc33f1;
  border: 10px solid #00f;
  border-radius: 20px;
  display: block;
  margin: 25px;
  width: 85%;
  height: auto;
}

img {
  color: black;
  position: absolute;
  top: 10px;
  left: 25px;
}
